<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/public/global.css" />
    <title>Page d'acceuil</title>
    {{!-- prettier-ignore --}}
    <style>




    article{
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(auto-fit, 150px);
      justify-content: center;
    }

    h3{
      text-align: left;
    }

    section{
      display: grid;
      grid-template-columns: 50px 50px 50px;
      grid-template-rows: 50px 50px 50px 50px 50px 50px;
      background-color:whitesmoke;
      color: black;
      margin: 0px;
  
    }
    #sectionRange{
      text-align: right;
    }

    #titleSection{
      grid-row: 1/2;
      grid-column: 1/3;
      margin: auto;
    }

    #sectionRange{
      grid-row: 3/4;
      grid-column: 3/4;
      margin: auto;
    }

    #titleShowcase{
      grid-row: 3/4;
      grid-column: 1/3;
      margin: auto;
    }
    .aditionDateShowcase{
      grid-row: 4/5;
      grid-column: 2/4;
      margin: auto;
    }

    #noteShowcase{
      
      grid-row: 5/7;
      grid-column: 1/4;
      margin: auto;
      text-align: center;
    }

    </style>
  </head>
  <body>
    {{>header}}
    <nav>
      {{{navigation}}}
    </nav>
    <main>
       <article>
      {{#each section}}
      <a href="/section/{{this.sectionName}}?sortType=alpha">
      <section>
       <h3 id="titleSection">{{this.sectionName}}</h3>
       <p id="sectionRange">{{this.sectionLength}}</p>
       <h4 id="titleShowcase">{{this.title}}</h4>
       <p class="aditionDateShowcase" id="{{this.sectionName}}ShowcaseDate">{{this.date}}</p>
       <p id="noteShowcase">{{this.notes}}</p>
       </section>
       </a>
      {{/each}}
      </article>
    </main>
    {{>footer}}
  </body>
  <script>
    const allDate =  Object.values(document.getElementsByClassName("aditionDateShowcase"));
    console.log()

   allDate.forEach((paragraphe)=>{
      const rawDate = parseInt(paragraphe.innerHTML)
      const newDate = new Date(rawDate)
      const displayDate = newDate.toLocaleDateString(undefined, {
      //weekday: 'long',
      year: 'numeric',
      month: 'long',
      day: 'numeric',
      });
      document.getElementById(paragraphe.id).innerHTML=displayDate
    })
  </script>
</html>